<!-- HTML Codes by Quackit.com -->
<style type="text/css">
textarea.html-text-box {position: relative;padding: 5;top: 50%;left: 50%;margin-top: -50px;margin-left: -100px;background-color:#000005;background-image:url(http://);background-repeat:no-repeat;background-attachment:fixed;border-width:6;border-style:solid;border-color:#FFFFFF;font-family:Arial;font-size:14pt;color:#FFFFFF;}
input.html-text-box {background-color:#000005;font-family:Arial;font-size:14pt;color:#FFFFFF;}
</style>
<form method="post" action="http://"><textarea name="comments" cols="30" rows="5" class="html-text-box">Comments here...</textarea><br><input type="submit" value="Submit" class="html-text-box"><input type="reset" value="Reset" class="html-text-box"></form>
